.accordion-button:not(.collapsed)::after {
  background-image: none !important
  /* transform: rotate(-180deg); */
}
.accordion-button {
  /* color: #0c63e4; */
  /* background-color: #e7f1ff; */
  /* background-color: white !important; */
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.margin-left{
  margin-left: 10px;
}